In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vivareal_aluguel.csv', dtype=str)
df.shape

(7200, 9)

In [3]:
df.drop_duplicates(keep='first',inplace=True)

In [4]:
df.shape

(307, 9)

In [5]:
df = df.drop(['Unnamed: 0'], axis=1) # comando usado para remover coluna indesejada

In [6]:
df.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 8.500 /Mês,3 Quartos,"Rua Professor José Leite e Oiticica, 240 - Vil...",5 Banheiros,2 Vagas,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,R$ 2.800 /Mês,2 Quartos,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2 Banheiros,2 Vagas,60,Aclimação,"Rua Castro Alves, 279"
2,R$ 1.400 /Mês,3 Quartos,Avenida Engenheiro Heitor Antônio Eiras Garcia...,1 Banheiro,1 Vaga,72,Jardim Esmeralda,Avenida Engenheiro Heitor Antônio Eiras Garcia...
3,R$ 3.000 /Mês,3 Quartos,"Avenida Mascote - Vila Mascote, São Paulo - SP",3 Banheiros,1 Vaga,90,Vila Mascote,Avenida Mascote
4,R$ 4.200 /Mês,2 Quartos,"Rua Helena, 52 - Vila Olímpia, São Paulo - SP",2 Banheiros,1 Vaga,60,Vila Olímpia,"Rua Helena, 52"

In [7]:
df.shape

(307, 8)

In [8]:
df.columns

Index(['aluguel', 'quartos', 'endereco', 'banheiro', 'vaga', 'area', 'bairro',
       'rua'],
      dtype='object')

In [9]:
df.dtypes

aluguel     object
quartos     object
endereco    object
banheiro    object
vaga        object
area        object
bairro      object
rua         object
dtype: object

In [10]:
df.head(2)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 8.500 /Mês,3 Quartos,"Rua Professor José Leite e Oiticica, 240 - Vil...",5 Banheiros,2 Vagas,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,R$ 2.800 /Mês,2 Quartos,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2 Banheiros,2 Vagas,60,Aclimação,"Rua Castro Alves, 279"

In [11]:
df['banheiro'] = df['banheiro'].str.extract('(.*) Banheiro')
df.head(3)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 8.500 /Mês,3 Quartos,"Rua Professor José Leite e Oiticica, 240 - Vil...",5,2 Vagas,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,R$ 2.800 /Mês,2 Quartos,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2,2 Vagas,60,Aclimação,"Rua Castro Alves, 279"
2,R$ 1.400 /Mês,3 Quartos,Avenida Engenheiro Heitor Antônio Eiras Garcia...,1,1 Vaga,72,Jardim Esmeralda,Avenida Engenheiro Heitor Antônio Eiras Garcia...

In [12]:
df['vaga'] = df['vaga'].str.extract('(.*) Vaga')
df.head(3)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 8.500 /Mês,3 Quartos,"Rua Professor José Leite e Oiticica, 240 - Vil...",5,2,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,R$ 2.800 /Mês,2 Quartos,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2,2,60,Aclimação,"Rua Castro Alves, 279"
2,R$ 1.400 /Mês,3 Quartos,Avenida Engenheiro Heitor Antônio Eiras Garcia...,1,1,72,Jardim Esmeralda,Avenida Engenheiro Heitor Antônio Eiras Garcia...

In [13]:
df['quartos'] = df['quartos'].str.extract('(.*) Quarto')
df['aluguel'] = df['aluguel'].str.extract('R\$ (.*) /Mês')
df.head(3)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,8.500,3,"Rua Professor José Leite e Oiticica, 240 - Vil...",5,2,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,2.800,2,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2,2,60,Aclimação,"Rua Castro Alves, 279"
2,1.400,3,Avenida Engenheiro Heitor Antônio Eiras Garcia...,1,1,72,Jardim Esmeralda,Avenida Engenheiro Heitor Antônio Eiras Garcia...

In [14]:
df['aluguel'] = df['aluguel'].str.replace('\.','',regex=True)
df.head(3)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,8500,3,"Rua Professor José Leite e Oiticica, 240 - Vil...",5,2,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,2800,2,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2,2,60,Aclimação,"Rua Castro Alves, 279"
2,1400,3,Avenida Engenheiro Heitor Antônio Eiras Garcia...,1,1,72,Jardim Esmeralda,Avenida Engenheiro Heitor Antônio Eiras Garcia...

In [15]:
df['bairro'].unique()

array([' Vila Gertrudes', ' Aclimação', ' Jardim Esmeralda',
       ' Vila Mascote', ' Vila Olímpia', ' Rio Pequeno', ' Pinheiros',
       ' Indianópolis', ' Jardim Ângela (Zona Leste)', ' Liberdade',
       ' Jardim Paulistano', ' Itaim Bibi', ' Ipiranga', ' Consolação',
       ' Bela Vista', ' Brooklin Paulista', ' Campo Belo',
       ' Vila Nova Conceição', ' Jardim das Bandeiras', ' Vila da Saúde',
       ' Jardim Paulista', ' Vila Uberabinha', ' Centro',
       ' Vila Clementino', ' Cidade Monções', ' Vila Mariana',
       ' Santo Amaro', ' Cerqueira César', ' Vila Gumercindo', ' Boaçava',
       ' Vila Buarque', ' Sumarezinho', ' Bom Retiro', ' Santana',
       ' Vila Gomes', ' Parque São Domingos', ' Chácara Santa Maria',
       ' SP', ' Sumaré', ' Jardim Fonte do Morumbi', ' Alto da Lapa',
       ' Moema', ' Luz', ' República', ' Perdizes', ' Jardim Peri Peri',
       ' Vila Leopoldina', ' Parque Colonial', ' Saúde', ' Santa Cecília'],
      dtype=object)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 0 to 4715
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aluguel   307 non-null    object
 1   quartos   307 non-null    object
 2   endereco  307 non-null    object
 3   banheiro  307 non-null    object
 4   vaga      307 non-null    object
 5   area      307 non-null    object
 6   bairro    307 non-null    object
 7   rua       307 non-null    object
dtypes: object(8)
memory usage: 21.6+ KB

In [17]:
df.describe()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
count,307,307,307,307,307,307,307,307
unique,57,3,95,5,5,60,50,95
top,3000,2,"Rua Oscar Caravelas, 280 - Sumarezinho, São Pa...",1,1,50,Pinheiros,"Rua Oscar Caravelas, 280"
freq,17,144,8,143,208,28,25,8

In [18]:
df.head(2)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,8500,3,"Rua Professor José Leite e Oiticica, 240 - Vil...",5,2,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,2800,2,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2,2,60,Aclimação,"Rua Castro Alves, 279"

In [19]:
cols = df.columns.drop(['endereco','bairro','rua'])
cols

Index(['aluguel', 'quartos', 'banheiro', 'vaga', 'area'], dtype='object')

In [20]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 0 to 4715
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aluguel   307 non-null    int64
 1   quartos   307 non-null    int64
 2   endereco  307 non-null    object
 3   banheiro  307 non-null    int64
 4   vaga      271 non-null    float64
 5   area      307 non-null    int64
 6   bairro    307 non-null    object
 7   rua       307 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 21.6+ KB

In [22]:
df.describe()

            aluguel     quartos    banheiro        vaga        area
count    307.000000  307.000000  307.000000  271.000000  307.000000
mean    3842.078176    1.853420    1.895765    1.335793   74.416938
std     3614.326590    0.714929    1.149971    0.673418   52.951903
min      650.000000    1.000000    1.000000    1.000000   15.000000
25%     2000.000000    1.000000    1.000000    1.000000   45.000000
50%     3000.000000    2.000000    2.000000    1.000000   57.000000
75%     4245.000000    2.000000    2.000000    1.000000   84.000000
max    30000.000000    3.000000    5.000000    4.000000  294.000000

In [23]:
df.head(15)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,8500,3,"Rua Professor José Leite e Oiticica, 240 - Vil...",5,2.0,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,2800,2,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2,2.0,60,Aclimação,"Rua Castro Alves, 279"
2,1400,3,Avenida Engenheiro Heitor Antônio Eiras Garcia...,1,1.0,72,Jardim Esmeralda,Avenida Engenheiro Heitor Antônio Eiras Garcia...
3,3000,3,"Avenida Mascote - Vila Mascote, São Paulo - SP",3,1.0,90,Vila Mascote,Avenida Mascote
4,4200,2,"Rua Helena, 52 - Vila Olímpia, São Paulo - SP",2,1.0,60,Vila Olímpia,"Rua Helena, 52"
5,1550,2,"Avenida Escola Politécnica, 2200 - Rio Pequeno...",1,1.0,57,Rio Pequeno,"Avenida Escola Politécnica, 2200"
6,2950,2,"Rua Padre Carvalho, 68 - Pinheiros, São Paulo ...",2,1.0,60,Pinheiros,"Rua Padre Carvalho, 68"
7,1600,1,"Alameda dos Nhambiquaras - Indianópolis, São P...",1,1.0,38,Indianópolis,Alameda dos Nhambiquaras
8,1100,2,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2,1.0,122,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
9,4200,2,"Rua Maestro Cardim, 266 - Liberdade, São Paulo...",2,1.0,60,Liberdade,"Rua Maestro Cardim, 266"
10,6500,1,"Rua Doutor Mário Ferraz, 415 - Jardim Paulista...",2,1.0,50,Jardim Paulistano,"Rua Doutor Mário Ferraz, 415"
11,3100,1,"Rua Luís Dias, 135 - Itaim Bibi, São Paulo - SP",1,1.0,35,Itaim Bibi,"Rua Luís Dias, 135"
12,650,1,"Rua Tabor, 255 - Ipiranga, São Paulo - SP",1,NaN,16,Ipiranga,"Rua Tabor, 255"
13,1800,2,"Rua Tamandaré, 464 - Liberdade, São Paulo - SP",1,NaN,46,Liberdade,"Rua Tamandaré, 464"
14,3900,2,"Rua Caio Prado, 363 - Consolação, São Paulo - SP",1,1.0,54,Consolação,"Rua Caio Prado, 363"

In [24]:
df.isnull().sum() # comando para filtrar NaN

aluguel      0
quartos      0
endereco     0
banheiro     0
vaga        36
area         0
bairro       0
rua          0
dtype: int64

In [25]:
df = df.fillna(0)
df.head(14)

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,8500,3,"Rua Professor José Leite e Oiticica, 240 - Vil...",5,2.0,150,Vila Gertrudes,"Rua Professor José Leite e Oiticica, 240"
1,2800,2,"Rua Castro Alves, 279 - Aclimação, São Paulo - SP",2,2.0,60,Aclimação,"Rua Castro Alves, 279"
2,1400,3,Avenida Engenheiro Heitor Antônio Eiras Garcia...,1,1.0,72,Jardim Esmeralda,Avenida Engenheiro Heitor Antônio Eiras Garcia...
3,3000,3,"Avenida Mascote - Vila Mascote, São Paulo - SP",3,1.0,90,Vila Mascote,Avenida Mascote
4,4200,2,"Rua Helena, 52 - Vila Olímpia, São Paulo - SP",2,1.0,60,Vila Olímpia,"Rua Helena, 52"
5,1550,2,"Avenida Escola Politécnica, 2200 - Rio Pequeno...",1,1.0,57,Rio Pequeno,"Avenida Escola Politécnica, 2200"
6,2950,2,"Rua Padre Carvalho, 68 - Pinheiros, São Paulo ...",2,1.0,60,Pinheiros,"Rua Padre Carvalho, 68"
7,1600,1,"Alameda dos Nhambiquaras - Indianópolis, São P...",1,1.0,38,Indianópolis,Alameda dos Nhambiquaras
8,1100,2,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2,1.0,122,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
9,4200,2,"Rua Maestro Cardim, 266 - Liberdade, São Paulo...",2,1.0,60,Liberdade,"Rua Maestro Cardim, 266"
10,6500,1,"Rua Doutor Mário Ferraz, 415 - Jardim Paulista...",2,1.0,50,Jardim Paulistano,"Rua Doutor Mário Ferraz, 415"
11,3100,1,"Rua Luís Dias, 135 - Itaim Bibi, São Paulo - SP",1,1.0,35,Itaim Bibi,"Rua Luís Dias, 135"
12,650,1,"Rua Tabor, 255 - Ipiranga, São Paulo - SP",1,0.0,16,Ipiranga,"Rua Tabor, 255"
13,1800,2,"Rua Tamandaré, 464 - Liberdade, São Paulo - SP",1,0.0,46,Liberdade,"Rua Tamandaré, 464"

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307 entries, 0 to 4715
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aluguel   307 non-null    int64
 1   quartos   307 non-null    int64
 2   endereco  307 non-null    object
 3   banheiro  307 non-null    int64
 4   vaga      307 non-null    float64
 5   area      307 non-null    int64
 6   bairro    307 non-null    object
 7   rua       307 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 21.6+ KB

In [27]:
df.shape

(307, 8)